# 最初に全て無視する
### all ignore ###
/*

# 残りをホワイトリストで管理
### not ignore ###

# base
!/README.md
!.gitignore
!.gitkeep

# git
!/.gitconfig

# zsh
!/.zshrc

# vim
!/.vim/
!/.vimrc
/.vim/.netrwhist

# neovim
!/nvim/
