[core]
  autocrlf = false

[alias]
  s = status
  l = log
  lf = log --pretty=fuller
  b = branch
  a = add
  aa = add -A
  cm = commit
  cmna = commit --no-edit --amend
  ps = push
  f = fetch
  pl = pull
  sb = submodule
  sbup = submodule update
  sbupr = sbup --recursive
  rpo = remote prune origin

